<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/mvc 
       		http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
	        http://www.springframework.org/schema/tx 
	        http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop.xsd">

	<mvc:annotation-driven ignore-default-model-on-redirect="true"/>
	<context:component-scan base-package="com.wzr"/> 
	 
	<!-- 静态资源访问 -->  
   	<!-- <mvc:resources location="/img/" mapping="/img/**"/>   -->
    <mvc:resources location="/WEB-INF/resource/js/" mapping="/resource/js/**"/>
<!--     <mvc:resources location="/WEB-INF/upload/" mapping="/upload/**"/> -->

    
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   <property name="prefix" value="/WEB-INF/view/"></property>
	   <property name="suffix" value=".jsp"></property>
	</bean> 
	
	<!-- 日期格式处理  --> 
	<!-- 
	<bean id="conversionService"
         class="org.springframework.format.support.FormattingConversionServiceFactoryBean">        
	</bean>
 	 -->
 	 
 	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
	<bean id="multipartResolver"
	        class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
	</bean>
    
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <context:property-placeholder location="/WEB-INF/db.properties"/>
    
	<!-- 事务管理器  -->
    <tx:annotation-driven transaction-manager="txManager"/>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- (this dependency is defined somewhere else) -->
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>